/* RESET */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #FF6801;
}

footer {
    background-color: black;
    height: 30px;
}

.user-buttons a {
    margin: 2px;
}

.user-buttons {
    text-align: end;
}
.flex {
    display: flex;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.gender,
.user-buttons {
    flex-basis: 20%;
}


.gender-type {
    font-size: .8rem;
    font-weight: bold;
}


.fa,
.gender-type {
    color: white;
    text-decoration: none;
}

.main-logo {
    flex-basis: 60%;
    text-align: center;
}

.logo {
    width: 75px;
    margin: 10px 0;
}

.dress {
    width: calc((100% / 3) - 7px);
    margin-top: 20px;
}

.brand,
.discount {
    font-size: .8rem;
}

.dress-type,
.price{
    font-weight: bold;

}
.price {
    font-size: .8rem;
    color: red;
}

.discount{
    color: black;
    text-decoration:line-through;
    font-weight: 100;
    padding-left: 3px;
}

.central-dress {
    margin: 20px 10px 0;
}


.flex-column {
    display: flex;
    flex-direction: column;
}

.contacts {
    color: white;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.relative-pos{
    position: relative;
}

.absolute-p {
    position: absolute;
}
