/* RESET */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #FF6801;
}
footer {
    background-color: black;
    height: 70px;
}

.user-buttons {
    text-align: center;
    margin: 10px 0;
    padding-right: 20px;
}
.flex {
    display: flex;
}

.fixed {
    height: 40.7px;
    width: 100%;
    z-index: 1;
    background-color: #FF6801;
    position: fixed;
    display: flex;
    justify-content: center;
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.gender,
.user-buttons {
    flex-basis: 25%;
}

.gender{
text-align: end;
margin: 10px 0;
}


.gender-type {
    font-size: .8rem;
    font-weight: bold;
}


.fa,
.gender-type,
.privacy-policy a {
    color: white;
    text-decoration: none;
    margin-right: 2px;
}

.main-logo {
    flex-basis: 60%;
    text-align: center;
}

.logo {
    width: 75px;
    margin: 10px 0;
}

.dress {
    width: calc((100% / 3) - 7px);
    margin-top: 20px;
}

.brand,
.discount {
    font-size: .8rem;
}

.dress-type,
.price{
    font-weight: bold;

}
.price {
    font-size: .8rem;
    color: red;
}

.discount{
    color: black;
    text-decoration:line-through;
    font-weight: 100;
    padding-left: 3px;
}

.central-dress {
    margin: 20px 10px 0;
}

.contacts {
    color: white;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
}

.srl {
    color: white;
    font-weight: bold;
    font-size: .9rem;
    margin-bottom: 5px;
}

.privacy-policy  {
    font-size: .7rem;
}

.find {
    font-weight: bold;
    font-size: .8rem;
    padding-bottom: 5px;
}
.social {
    text-align: center;
}

.relative-pos{
    position: relative;
}

.absolute-p {
    position: absolute;
}
